
body {
    background-color:#FEFFE8 ;
    
}
header {
    color: #FFFFFF;
    padding: 20px 0;
}
body {
    color: #035E7B;
}
footer {
    color: #FFFFFF;
    padding: 10px;
}



@font-face {
    font-family: 'OCRB';
    src: url('../../fonts/OCRB-Regular.ttf') format('truetype');
}
body {
    font-family: 'OCRB';
}

@font-face {
    font-family: 'AllrounderAntiqua';
    src: url('../../fonts/AllrounderAntiquaTest-Book.otf') format('opentype');
}
h1 {
    font-family: 'AllrounderAntiqua';
}
header {
    background-color: #005D8F;
}
footer {
    background-color: #005D8F;
}

/* Page alignment */
body {
    max-width: 900px;
}
body {
    margin: auto;
}
header {
    text-align: center;
}

footer {
    text-align: center;
}

header a:link, footer a:link {
    color: #FFFFFF;
}

/* Link color for header and footer */
header a:visited, footer a:visited {
    color: #4DD0FF
}
header a:hover, footer a:hover {
    color: #FFC847 ;
}
header a:focus, footer a:focus {
    color: #FFC847;
}

/* Link color for the body */
main a:link {
    color: #28AFB0;
}

main a:visited {
    color:#4DD0FF
}
main a:hover {
    color: #D62828 ;
}
main a:focus {
    color: #D62828;
}
