<footer class="site-footer">
    <div class="footer-validators">
        <a href="https://validator.w3.org/" target="_blank">
            <img src="http://www.w3.org/Icons/valid-html40" alt="Valid HTML!" />
        </a>

        <span>|</span>
        <a href="https://jigsaw.w3.org/css-validator/" target="_blank">
            <img src="https://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!" />
        </a>
        <span>|</span>
        <a href="https://wave.webaim.org/" target="_blank">
            <img height="31" width="88" src="https://www.w3.org/WAI/WCAG22/wcag2.2A" alt="Level A conformance,
            W3C Web Content Accessibility Guidelines 2.2">
        </a>
    </div>
    <p class="footer-text">© 2026 camprockyriver All Rights Reserved.</p>

</footer>