<footer>
    <a href="https://github.com/raeyasser/" target="_blank">GitHub</a> |
    <a href="https://webpages.charlotte.edu/rassefa" target="_blank">CLT Web</a> |
    <a href="https://raeyasse.github.io" target="_blank">GitHub.io</a> |
    <a href="https://www.freecodecamp.org/rassefa" target="_blank">freeCodeCamp</a> |
    <a href="https://itis3135-react-topaz.vercel.app/" target="_blank">ITIS3135@Vercel</a> |
    <a href="https://www.linkedin.com/in/raey-asse/" target="_blank">LinkedIn</a>

    <hr />
    © 2026 <a href="https://rassefadesigns.com/" target="_blank">rassefa</a> Copyright Reserved.
    <br />
    <a href="https://www.freecodecamp.org/certification/rassefa/responsive-web-design-v9" target="_blank">
        Certified in Responsive Web Design
    </a>
</footer>