<footer>
        <a href="https://github.com/raeyasse/" target="_blank" ref="noopener noreferrer">GitHub</a> | 
        <a href="https://webpages.charlotte.edu/rassefa" target="_blank" ref="noopener noreferrer">CLT Web</a> | 
        <a href="https://raeyasse.github.io" target="_blank" ref="noopener noreferrer">GitHub.io </a> |
        <a href="https://www.freecodecamp.org/rassefa" target="_blank" ref="noopener noreferrer">freeCodeCamp</a> |
        <a href="https://www.netflix.com" target="_blank" ref="noopener noreferrer">ITIS3135@Vercel</a> |
        <a href="https://www.linkedin.com/in/raey-asse/" target="_blank" ref="noopener noreferrer">LinkedIn</a>

        <hr>
        © 2026 rassefa Copyright Reserved. 
        <br>
        Page Designed by <a href="rassefadesigns.com/">Raey Assefa Enterprises</a>
    </footer>