<header>
  <h1>Raey Assefa's Ambitious Rabbit</h1>
  <nav>
    <a href="index.html">Home</a> |
    <a href="contract.html">Contract</a> |
    <a href="website_evaluations.html">Website Evaluation</a> |
    <a href="survey.html">Survey</a> |
    <a href="cards.html">Cards</a> |
    <a href="inventory.html">Inventory</a> |
    <a href="documentation.html">Documentation</a> |
    <a href="product.html">Product</a> |
    <a href="project_overview.html">Project Overview</a> |
    <a href="review1.html">Peer Review 1</a> |
    <a href="review2.html">Peer Review 2</a>
  </nav>
  <br>
  <nav>
    <a href="stuff/Crap-py .HTM">Crappy Webpage</a> |
    <a href="hobby/index.html">Hobby</a> |
    <a href="intro_form.html">Introduction Form</a>

  </nav>
</header>