    <header>
            <h1>Raey Assefa's Ambitious Rabbit | ITIS 3135 | %name%</h1>
            <nav>
              <a href="index.html">Home</a> | 
              <a href="contract.html">Contract</a> |
              <a href="survey.html">Survey</a> |
              <a href="cards.html">Cards</a> |
              <a href="inventory.html">Inventory</a> |
              <a href="documentation.html">Documentation</a> |
              <a href="highlight.html">Highlight</a> |
            </nav>
            <br>
            <nav>
                <a href="stuff/Crap-py .HTM">Crappy Webpage</a> |
                <a href="website_evaluations.html">Website Evaluation</a> |
                <a href="hobby/index.html">Hobby</a> 

            </nav>
    </header>