body {
    background-color: #90E0F3;
}
body {
    color: #121AA1;
}
@font-face {
    font-family: 'OCRB';
    src: url('/fonts/OCRB-Regular.ttf') format('truetype');
}
body {
    font-family: 'OCRB';
}
@font-face {
    font-family: 'AllrounderAntiqua';
    src: url('/fonts/AllrounderAntiquaTest-Book.otf') format('opentype');
}
h1 {
    font-family: 'AllrounderAntiqua';
}